In [1]:
import pandas as pd
import numpy as np
from sklearn.utils import shuffle

In [2]:
benign = pd.read_csv("benign.csv")
malicious = pd.read_csv("malicious.csv")

In [3]:
benign["domain_type"] = "benign"
benign = benign.sample(10000)

In [4]:
malicious["domain_type"] = "dga"
malicious = malicious.sample(10000)

In [5]:
data = [benign, malicious]
data = pd.concat(data)
data = shuffle(data)
data = data.reset_index(drop=True)
data

                     domain domain_type
0      ttndcrlyfadifehn.org         dga
1       ztedhlbnkjxomkmh.cn         dga
2      kmdburnkbqidxxcl.biz         dga
3      wytivunkbqidxxcl.biz         dga
4      vdgxcrlyfadifehn.com         dga
...                     ...         ...
19995    meleklerinpayi.com      benign
19996          sekerali.com      benign
19997             a4aim.com      benign
19998   tnvtolycossttqrj.ru         dga
19999            ambbo2.com      benign

[20000 rows x 2 columns]

In [6]:
data.to_csv('initial_data.csv',index=False)

In [2]:
pd.read_csv('initial_data.csv')

       Unnamed: 0                domain domain_type
0               0  ttndcrlyfadifehn.org         dga
1               1   ztedhlbnkjxomkmh.cn         dga
2               2  kmdburnkbqidxxcl.biz         dga
3               3  wytivunkbqidxxcl.biz         dga
4               4  vdgxcrlyfadifehn.com         dga
...           ...                   ...         ...
19995       19995    meleklerinpayi.com      benign
19996       19996          sekerali.com      benign
19997       19997             a4aim.com      benign
19998       19998   tnvtolycossttqrj.ru         dga
19999       19999            ambbo2.com      benign

[20000 rows x 3 columns]