In [1]:
import pandas as pd
import numpy as np
from sklearn.utils import shuffle

In [2]:
benign = pd.read_csv("../../data/benign.csv")
dga = pd.read_csv("../../data/dga-feed.csv")

In [3]:
benign["domain_type"] = "benign"
benign = benign.sample(30000)

In [4]:
dga["domain_type"] = "dga"
dga = dga.sample(30000)

In [5]:
data = [benign, dga]
data = pd.concat(data)
data = shuffle(data)
data = data.reset_index(drop=True)
data

                                       domain domain_type
0                           nomadeducation.fr      benign
1                               vsjmdqpmb.com         dga
2      nr1-logo-design-inspiration.tumblr.com      benign
3            180oqib10gr8s418aumdi12sl0u1.biz         dga
4              s50lan1mjcaed102lrxefl4356.com         dga
...                                       ...         ...
59995                    hffcjliuchlqwklt.com         dga
59996                             gkemmen.com         dga
59997                        ktxsjgraidupy.cx         dga
59998              fvcdrasildeafeninguvuc.com         dga
59999                           dubai-vape.ae      benign

[60000 rows x 2 columns]

In [6]:
data.to_csv('expanded_data.csv',index=False)

In [7]:
pd.read_csv('expanded_data.csv')

                                       domain domain_type
0                           nomadeducation.fr      benign
1                               vsjmdqpmb.com         dga
2      nr1-logo-design-inspiration.tumblr.com      benign
3            180oqib10gr8s418aumdi12sl0u1.biz         dga
4              s50lan1mjcaed102lrxefl4356.com         dga
...                                       ...         ...
59995                    hffcjliuchlqwklt.com         dga
59996                             gkemmen.com         dga
59997                        ktxsjgraidupy.cx         dga
59998              fvcdrasildeafeninguvuc.com         dga
59999                           dubai-vape.ae      benign

[60000 rows x 2 columns]