In [26]:
import pandas as pd
import numpy as np
domain_df = pd.read_csv("domain_combined_df2.csv")
benigh_df = pd.read_csv("benign_combined_df.csv")
dga_df1 = pd.read_csv("malicious_combined_df.csv")
dga_df2 = pd.read_csv("malicious_combined_df2.csv")
domain_df = domain_df.rename(columns={'domain_type': 'threat'})
dga_df2 = dga_df2.rename(columns={'domain_type': 'threat'})
combined_df = pd.concat([domain_df, benigh_df, dga_df1, dga_df2], axis=0, join='outer')

In [103]:
combined_df.head()

                 domain  threat
0  wisuolycossttqrj.com     dga
1          wi-wamss.org  benign
2  qcxfurnkbqidxxcl.biz     dga
3  192-168-1-1-admin.ru  benign
4   dblsiobnkjxomkmh.ru     dga

In [104]:
# Creating feature
#Transforming each character from the domain to vowels.
vowel = ('a','e','i','o','u')
consonant = ('b','c','d','f','g','h','j','k','l','m','n','p','q','r','s','t','v','w','x','y','z')
numbers = (0,1,2,3,4,5,6,7,8,9)
other = (',','-','/','.')

def transform(val):
    vowel = ('a','e','i','o','u')
    consonant = ('b','c','d','f','g','h','j','k','l','m','n','p','q','r','s','t','v','w','x','y','z')
    numbers = ('0','1','2','3','4','5','6','7','8','9')
    other = (',','-','/','.')
    new = ''
    for char in val:
        if char in vowel:
            new += 'v'
        elif char in consonant:
            new += 'c'
        elif char in numbers:
            new += 'n'
        else:
            new += 's'
    return new
combined_df['feature']= combined_df['domain'].apply(transform)
combined_df.head()

/Users/LSP/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                 domain  threat               feature
0  wisuolycossttqrj.com     dga  cvcvvcccvcccccccscvc
1          wi-wamss.org  benign          cvscvcccsvcc
2  qcxfurnkbqidxxcl.biz     dga  ccccvcccccvcccccscvc
3  192-168-1-1-admin.ru  benign  nnnsnnnsnsnsvccvcscv
4   dblsiobnkjxomkmh.ru     dga   ccccvvcccccvccccscv

In [187]:
def bagofwords(assignment):
    df = pd.DataFrame(data=assignment.feature)
    for i in assignment.feature:
        #1-gram
        df.loc[df['feature'] == i ,'v'] =i.count('v')
        df.loc[df['feature'] == i ,'c'] =i.count('c')
        df.loc[df['feature'] == i ,'n'] =i.count('n')
        df.loc[df['feature'] == i ,'s'] =i.count('s')

        # 2-gram
        df.loc[df['feature'] == i ,'vv'] =i.count('vv')
        df.loc[df['feature'] == i ,'vc'] =i.count('vc')
        df.loc[df['feature'] == i ,'vn'] =i.count('vn')
        df.loc[df['feature'] == i ,'vs'] =i.count('vs')
        df.loc[df['feature'] == i ,'cv'] =i.count('cv')
        df.loc[df['feature'] == i ,'cc'] =i.count('cc')
        df.loc[df['feature'] == i ,'cn'] =i.count('cn')
        df.loc[df['feature'] == i ,'cs'] =i.count('cs')
        df.loc[df['feature'] == i ,'nv'] =i.count('nv')
        df.loc[df['feature'] == i ,'nc'] =i.count('nc')
        df.loc[df['feature'] == i ,'nn'] =i.count('nn')
        df.loc[df['feature'] == i ,'ns'] =i.count('ns')
        df.loc[df['feature'] == i ,'sv'] =i.count('sv')
        df.loc[df['feature'] == i ,'sc'] =i.count('sc')
        df.loc[df['feature'] == i ,'sn'] =i.count('sn')
        df.loc[df['feature'] == i ,'ss'] =i.count('ss')
         # 3-gram
        df.loc[df['feature'] == i ,'vvv'] =i.count('vvv')
        df.loc[df['feature'] == i ,'vcv'] =i.count('vcv')
        df.loc[df['feature'] == i ,'vnv'] =i.count('vnv')
        df.loc[df['feature'] == i ,'vsv'] =i.count('vsv')
        df.loc[df['feature'] == i ,'cvv'] =i.count('cvv')
        df.loc[df['feature'] == i ,'ccv'] =i.count('ccv')
        df.loc[df['feature'] == i ,'cnv'] =i.count('cnv')
        df.loc[df['feature'] == i ,'csv'] =i.count('csv')
        df.loc[df['feature'] == i ,'nvv'] =i.count('nvv')
        df.loc[df['feature'] == i ,'ncv'] =i.count('ncv')
        df.loc[df['feature'] == i ,'nnv'] =i.count('nnv')
        df.loc[df['feature'] == i ,'nsv'] =i.count('nsv')
        df.loc[df['feature'] == i ,'svv'] =i.count('svv')
        df.loc[df['feature'] == i ,'scv'] =i.count('scv')
        df.loc[df['feature'] == i ,'snv'] =i.count('snv')
        df.loc[df['feature'] == i ,'ssv'] =i.count('ssv')
        df.loc[df['feature'] == i ,'vvc'] =i.count('vvc')
        df.loc[df['feature'] == i ,'vcc'] =i.count('vcc')
        df.loc[df['feature'] == i ,'vnc'] =i.count('vnc')
        df.loc[df['feature'] == i ,'vsc'] =i.count('vsc')
        df.loc[df['feature'] == i ,'cvc'] =i.count('cvc')
        df.loc[df['feature'] == i ,'ccc'] =i.count('ccc')
        df.loc[df['feature'] == i ,'cnc'] =i.count('cnc')
        df.loc[df['feature'] == i ,'csc'] =i.count('csc')
        df.loc[df['feature'] == i ,'nvc'] =i.count('nvc')
        df.loc[df['feature'] == i ,'ncc'] =i.count('ncc')
        df.loc[df['feature'] == i ,'nnc'] =i.count('nnc')
        df.loc[df['feature'] == i ,'nsc'] =i.count('nsc')
        df.loc[df['feature'] == i ,'svc'] =i.count('svc')
        df.loc[df['feature'] == i ,'scc'] =i.count('scc')
        df.loc[df['feature'] == i ,'snc'] =i.count('snc')
        df.loc[df['feature'] == i ,'ssc'] =i.count('ssc')
        df.loc[df['feature'] == i ,'vvn'] =i.count('vvn')
        df.loc[df['feature'] == i ,'vcn'] =i.count('vcn')
        df.loc[df['feature'] == i ,'vnn'] =i.count('vnn')
        df.loc[df['feature'] == i ,'vsn'] =i.count('vsn')
        df.loc[df['feature'] == i ,'cvn'] =i.count('cvn')
        df.loc[df['feature'] == i ,'ccn'] =i.count('ccn')
        df.loc[df['feature'] == i ,'cnn'] =i.count('cnn')
        df.loc[df['feature'] == i ,'csn'] =i.count('csn')
        df.loc[df['feature'] == i ,'nvn'] =i.count('nvn')
        df.loc[df['feature'] == i ,'ncn'] =i.count('ncn')
        df.loc[df['feature'] == i ,'nnn'] =i.count('nnn')
        df.loc[df['feature'] == i ,'nsn'] =i.count('nsn')
        df.loc[df['feature'] == i ,'svn'] =i.count('svn')
        df.loc[df['feature'] == i ,'scn'] =i.count('scn')
        df.loc[df['feature'] == i ,'snn'] =i.count('snn')
        df.loc[df['feature'] == i ,'ssn'] =i.count('ssn')
        df.loc[df['feature'] == i ,'vvs'] =i.count('vvs')
        df.loc[df['feature'] == i ,'vcs'] =i.count('vcs')
        df.loc[df['feature'] == i ,'vns'] =i.count('vns')
        df.loc[df['feature'] == i ,'vss'] =i.count('vss')
        df.loc[df['feature'] == i ,'cvs'] =i.count('cvs')
        df.loc[df['feature'] == i ,'ccs'] =i.count('ccs')
        df.loc[df['feature'] == i ,'cns'] =i.count('cns')
        df.loc[df['feature'] == i ,'css'] =i.count('css')
        df.loc[df['feature'] == i ,'nvs'] =i.count('nvs')
        df.loc[df['feature'] == i ,'ncs'] =i.count('ncs')
        df.loc[df['feature'] == i ,'nns'] =i.count('nns')
        df.loc[df['feature'] == i ,'nss'] =i.count('nss')
        df.loc[df['feature'] == i ,'svs'] =i.count('svs')
        df.loc[df['feature'] == i ,'scs'] =i.count('scs')
        df.loc[df['feature'] == i ,'sns'] =i.count('sns')
        df.loc[df['feature'] == i ,'sss'] =i.count('sss')

        #other features
        df.loc[df['feature'] == i ,'length']= len(i)
        df.loc[df['feature'] == i ,'uniqueChar']= len(set(assignment.loc[assignment['feature'] == i].domain.to_string()))
        df.loc[df['feature'] == i ,'c/v'] = df.c/df.v
        df.loc[df['feature'] == i ,'length/uniC'] = df.length/df.uniqueChar
        df.loc[df['feature'] == i ,'c/length'] = df.c/df.length
        df.loc[df['feature'] == i ,'c/length'] = df.c/df.length
        df.loc[df['feature'] == i ,'v/length'] = df.v/df.length
    return df.drop(['feature'], axis=1)

In [ ]:
combined_dfX = bagofwords(combined_df)

In [189]:
combined_dfX.head()

,v,c,n,s,vv,vc,vn,vs,cv,cc,...,svs,scs,sns,sss,length,uniqueChar,c/v,length/uniC,c/length,v/length
0,5.0,14.0,0.0,1.0,1.0,4.0,0.0,0.0,4.0,4.0,...,0.0,0.0,0.0,0.0,20.0,14,2.800000,1.428571,0.700000,0.250000
1,3.0,7.0,0.0,2.0,0.0,2.0,0.0,1.0,2.0,2.0,...,0.0,0.0,0.0,0.0,12.0,10,2.333333,1.200000,0.583333,0.250000
2,3.0,16.0,0.0,1.0,0.0,3.0,0.0,0.0,3.0,6.0,...,0.0,0.0,0.0,0.0,20.0,14,5.333333,1.428571,0.800000,0.150000
3,3.0,4.0,8.0,5.0,0.0,2.0,0.0,0.0,2.0,1.0,...,0.0,0.0,1.0,0.0,20.0,14,1.333333,1.428571,0.200000,0.150000
4,4.0,14.0,0.0,1.0,1.0,2.0,0.0,0.0,3.0,6.0,...,0.0,0.0,0.0,0.0,19.0,15,3.500000,1.266667,0.736842,0.210526

In [180]:
y = combined_df ['threat']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(combined_dfX, y, test_size=0.2, random_state=575)
X_train.head()

,v/length,c/length,length/uniC,c/v,uniqueChar,length,sss,sns,scs,svs,...,cc,cv,vs,vn,vc,vv,s,n,c,v
11815,0.285714,0.666667,1.235294,2.333333,17,21.0,0.0,0.0,0.0,0.0,...,5.0,5.0,0.0,0.0,5.0,0.0,1.0,0.0,14.0,6.0
20757,0.333333,0.600000,1.363636,1.800000,11,15.0,0.0,0.0,0.0,0.0,...,2.0,5.0,1.0,0.0,4.0,0.0,1.0,0.0,9.0,5.0
23498,0.357143,0.571429,1.272727,1.600000,11,14.0,0.0,0.0,0.0,0.0,...,2.0,5.0,0.0,0.0,4.0,0.0,1.0,0.0,8.0,5.0
8460,0.370370,0.555556,1.687500,1.500000,16,27.0,0.0,0.0,0.0,0.0,...,4.0,10.0,2.0,0.0,8.0,0.0,2.0,0.0,15.0,10.0
11859,0.200000,0.750000,1.538462,3.750000,13,20.0,0.0,0.0,0.0,0.0,...,6.0,2.0,0.0,0.0,4.0,0.0,1.0,0.0,15.0,4.0

In [190]:
from xgboost import XGBClassifier
model=XGBClassifier()
model.fit(X_train, y_train)
y_predict =model.predict(X_test)
from sklearn.metrics import accuracy_score, classification_report
print(accuracy_score(y_test,y_predict))
print(classification_report(y_test,y_predict))
pd.crosstab(y_test,y_predict)

0.9972088182420286
              precision    recall  f1-score   support

      benign       1.00      0.99      1.00      6915
         dga       1.00      1.00      1.00     14223

    accuracy                           1.00     21138
   macro avg       1.00      1.00      1.00     21138
weighted avg       1.00      1.00      1.00     21138

col_0   benign    dga
threat
benign    6857     58
dga          1  14222

In [156]:
# tuning
model2=XGBClassifier(learning_rate =0.05)
model2.fit(X_train, y_train)
y_predict =model2.predict(X_test)
from sklearn.metrics import accuracy_score, classification_report
print(accuracy_score(y_test,y_predict))
print(classification_report(y_test,y_predict))
pd.crosstab(y_test,y_predict)

0.9947014854763933
              precision    recall  f1-score   support

      benign       1.00      0.98      0.99      6915
         dga       0.99      1.00      1.00     14223

    accuracy                           0.99     21138
   macro avg       1.00      0.99      0.99     21138
weighted avg       0.99      0.99      0.99     21138

col_0   benign    dga
threat
benign    6803    112
dga          0  14223

In [182]:
assignment = pd.read_csv("assignment.csv")
assignment['domain'] = assignment['domain'].str[4:]
assignment['feature']= assignment['domain'].apply(transform)
assignment.head()

                               domain                             feature
0                  dutchwebdesign.com                  cvccccvccvcvccscvc
1                 pploulsosohvmkv.com                 cccvvccvcvcccccscvc
2                  cfsjdqwdhmwkiv.com                  ccccccccccccvcscvc
3  uocoqgiusyeciouaimcauykqswsymo.com  vvcvccvvccvcvvvvvccvvccccccccvscvc
4                   total-toolbar.com                   cvcvcscvvccvcscvc

In [ ]:
assignment_predict =model.predict(bagofwords(assignment))

In [ ]:
assignment['threat']= assignment_predict

In [ ]:
assignment=assignment.drop('feature', axis=1)

In [ ]:
assignment.to_csv('assignment_output_updated.csv', index=False)